  <head>
    <title> ABOUT US | COVID-19 Management </title>
 </head>
  <div class="container">
        <div class="taskbar">
      <ul>
          <button><a routerLink="/">HOME</a></button>
          <button><a routerLink="/Symptoms">SYMPTOMS</a></button>
          <button><a routerLink="/Services">SERVICES</a></button>
          <button class="active"><a routerLink="/aboutUs">ABOUT US</a></button>
          <button><a routerLink="/ContactUs">CONTACT US</a></button>  
      </ul>
    </div> 
    <div class="title">
        <h1>About Us</h1>
    </div>
    <div class="subtitle1">
        <p class="hello">We Stand by frontline workers</p>
    </div>
    <div class="chavi">
          <img  src="about.svg" alt="">
    </div>
    <div class="text">
          <p class="first">I am putting in time and resources to do this while not gaining a single penny from it because it
          affects all of us. Today it's someone else who is getting infected; tomorrow it could be us. We need
          to prevent the spread of this virus. We need to document the data so that people with knowledge can use this data to make informed decisions.
          <br><br></p>
          <p class="second">
          We disclaim any responsibility for any transaction that the User of the Information may undertake with any person mentioned in the Information.
          The Information is liable to be changed and we are not liable if any Information becomes redundant, invalid or unusable for any reason.
          This are not service providers and do not assure continued availability of Information. We never collect or expose any personally identifiable data.
          </p>
    </div>
    <div class="subtitle">
          <p>Copyright © 2021 SASHANK DEB | All rights reserved</p>
    </div>
  </div>

 
