/* Add application styles & imports to this file! */
*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
body{
  background-color: #191919;
}
header{
  background-color: #191919;
  background-size: cover;
  background-position: center;
}